.card {
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0 auto;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: #9F2B57;
	border-style: none;
}

.card-icon {
	height: 24px;
	width: 24px;
	padding-top: 7px;
}

.card-login {
	width: 400px;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 30px;
	padding-bottom: 40px;
	color: black;
	position: absolute;
	top: 18%;
	left: 36%;
	z-index: 50;
}

.card-logout {
	width: 400px;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 30px;
	padding-bottom: 40px;
	color: black;
	position: absolute;
	top: 30%;
	left: 36%;
	z-index: 50;
}

.card-alta {
	padding-left: 5%;
	padding-right: 5%;
	color: black;
	text-align: left;
	z-index: 50;
}

.container-comun {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 25px;
	position: absolute;
	top: 16%;
	background-color:
	color: black;
	font-weight: bold;
	background-color: #E72085;
	text-align: center;
	z-index: 50;
}

#top {
	background-color: #E72085;
}

#menu {
	background-color: #9F2B57;
}

.btn-inicio {
	padding-top: 25px;
	padding-left: 35px;
}

.btn-formulario {
	background-color: #9F5E7E;
	color: black;
	font-weight: bold;
}

#logo {
	padding-top: 10px;
	padding-left: 0px;
}

.btn-alb {
	font-family: arial;
	font-size: medium;
	background-color: #9F2B57;
	border-style: none;
}

.alb-item1 {
	font-family: arial;
	font-weight: bold;
	color: black;
	padding-right: 30px;
	padding-left: 0px;
	padding-top: 5px;
	font-size: small;
}

.alb-item2 {
	font-family: arial;
	font-weight: bold;
	color: black;
	padding-right: 50px;
	font-size: large;
}

.dropdown-alb {
	background-color: #9F2B57;
	font-family: arial;
	font-weight: bold;
	color: #D3B2BE;
}

.dropdown-item:hover {
	background-color: #D3B2BE;
	color: black;
}

.fotos {
	background-color: #E72085;
}

.col-2, .col-1 {
	padding-left: 0px;
	padding-right: 0px;
}

.row {
	padding-top: 0px;
	padding-bottom: 0px;
}

.card h4, h5 {
	text-align: center;
}

.alertaerror {
	color: #9F2B57;
	font-weight: bold;
	text-align: center;
}

.alerterror {
	color: #E72085;
	font-weight: bold;
	text-align: center;
}

#datos {
	background-color: #E72085;
}

#blocker {
	background-color: #E72085;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 50;
	opacity: 0.5;
  filter: alpha(opacity=50);
}
